
* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}


nav ul li {
    display: inline-block;
    margin: 0 1rem;

}

nav {
    display: flex;
    justify-content: space-between;
}

nav h1, nav ul {
    margin: 0;
}


.sectionTop{
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 0; 
    position: relative;
    height: calc(50vh - 60px);
}

.titre{
    position: absolute;
    z-index: 1;
}

.sectionBot{
    
    -webkit-box-pack: center;
    justify-content: center ;
    -webkit-box-align: center;
    color: white;
    background: rgb(80, 88, 105);
    min-height: calc(50vh - 60px);
    padding : 1%;
}

.card {
    display: flex;
    background-color : rgb(160, 155, 155);
    flex-wrap: wrap; /* Les divs suivantes seront placées sur la ligne suivante */
    justify-content: space-between; /* Les divs suivantes seront espacées de manière égale sur la ligne */
    margin-top: 3%;
    border: hidden;
    border-radius: 10px;
    width: 30%; /* Limiter la largeur à 80% de la largeur de la fenêtre */
    margin-left: auto;
    margin-right: auto; /* Centrer la div horizontalement */
    box-sizing: border-box; /* Inclure les marges et les bordures dan*/
    
}

.article {
    text-align: center;
    margin-top: 3%;
    margin: 0 auto;
    padding: 10%;
    flex-basis: calc(30% - 4%); /* Ajuste la largeur en fonction de la mise en page et des marges */
    box-sizing: border-box; /* Inclure les marges et les bordures dans la largeur de l'élément */
}

.searchContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 300px;
    margin: 50px auto;
    flex-wrap: wrap;
}

.searchInput {
    flex: 1; /* Cela permet à l'élément de prendre autant d'espace que possible */
    /* Ajoutez d'autres styles si nécessaire */
}

.suggList {
    list-style-type: none;
    padding: 0;
    margin: 0;
    width: 100%;
    position: absolute;
    max-height: 150px; /* Hauteur maximale des suggestions */
    overflow-y: auto; /* Activation du défilement vertical si les suggestions dépassent la hauteur maximale */
    top: 100%; /* Positionner en dessous de la barre de recherche */
    left: 0;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    
}

.suggList li {
    padding: 10px;
    border-bottom: 1px solid #615858;
    cursor: pointer;
    transition: background-color 0.3s ease;
    overflow-y: auto;
}

li:hover {
    background-color: #f0f0f0;
}

.searchInterface {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 50%;
}

.searchInterface > * {
    margin: 0; /* Réinitialiser les marges si nécessaire */
}

.searchInterface > * {
    width: auto; /* ou une autre valeur selon vos besoins */
}

.filter-container {
    text-align: right;
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px;
}

.filter-menu {
    display: none;
    flex-direction: column;
    background-color: #f0f0f0;
    padding: 10px;
    border: 2px solid #ddd;
    border-radius: 5px;
    margin-top: 10px;
}

.filter-option {
    display: flex;
    align-items: flex-end;
    margin-bottom: 5px;
}

.filter-option label {
    margin-right: 5px;
}

/* Style pour les checkboxes */
input[type="checkbox"] {
    margin-right: 3px;
}

/* Style pour les checkboxes cochées */
input[type="checkbox"]:checked + label {
    font-weight: bold;
    color: #333;
}

/* Style pour le bouton de toggle du menu */
.toggle-button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.toggle-button:hover {
    background-color: #45a049;
}

.filter-menu.show-filters {
    display: block;
}


