<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="asset/style/style.css">
    <title>groupie tracer</title>
</head>
<body>
        <header>            
            <nav>                 
                  <div class="filter-container">
                    <button class="toggle-button" onclick="toggleFilters()">Afficher/Masquer Filtres</button>
                        <div class="filter-menu" id="filterMenu">
                            <form action="/filter">
                                <input type="radio" name="check1" value="true">
                                <label for="check1">1</label>
                                <input type="radio" name="check2" value="true ">
                                <label for="check2">2</label>
                                <input type="radio" name="check3" value="true">
                                <label for="check3">3</label>
                                <input type="radio" name="check4" value="true">
                                <label for="check4">4</label>
                                <input type="radio" name="check5" value="true">
                                <label for="check5">5</label>
                                <input type="radio" name="check6" value="true">
                                <label for="check6">6</label>
                                <input type="radio" name="check7" value="true">
                                <label for="check7">7</label>
                                <input type="range" name="filterPlage" min="1956" max="2020">
                                <label for="filterPlage"> dates</label>
                                <input type="submit" value="filter">
                            </form>   
                    </div>
                </div>       
            </nav>
        </header>

    <main>
        <section class="sectionTop" id="searchbar">
            <div class="searchInterface">
                <div class="searchContainer">
                    <form action="/search" method="GET">
                        <input type="text" name="search" placeholder="search artist by members or by name" id="searchInput">
                        <ul id="suggestions" class="suggList"></ul> <!-- liste des suggestion -->
                        <button type="submit">search</button>
                    </form>
                </div>

                <div class="searchContainer">
                    <form action="/searchLocation" method="GET">
                        <input type="text" name="search" placeholder="location" id="searchInputLoc">
                        <ul id="suggestionsLoc" class="suggList"></ul> <!-- liste des suggestion -->
                        <button type="submit">search</button>
                    </form>
                </div>
                
                <div class="searchContainer">
                    <form action="/searchCreaDate" method="GET">
                        <input type="number" name="search" min="1900" max="2100" placeholder="CreationDate" id="searchCreaDate">
                        <ul id="suggestionsCreaDate" class="suggList"></ul> <!-- liste des suggestion -->
                        <button type="submit">search</button>
                    </form>
                </div>
            

                <div class="searchContainer">
                    <form action="/searchFirstAlbum" method="GET">
                        <input type="text" name="search" min="1900" max="2100" placeholder="CreationDate" id="searchFirstAlbum">
                        <ul id="suggestionsFirstAlbum" class="suggList"></ul> <!-- liste des suggestion -->
                        <button type="submit">search</button>
                    </form>
                </div>
            </div>
        </section>

        <section class="sectionBot">
            {{range .}}
            <div class="card">
                <article class="article">
                    <img src="{{.Image}}" alt="{{.Name}}">
                    <h2>{{.Name}}</h2>
                    <p> Members: {{range .Members}}{{.}}, {{end}}</p>
                    <p>Creation Date: {{.CreationDate}}</p>
                    <p>First Album: {{.FirstAlbum}}</p>
                </article>
            </div>
                {{end}}
        </section>

    </main>

    <footer>
        <nav>
            <ul>
                <li>crédit un</li>
                <li> crédit deux </li>
                <li> crédit trois </li>
            </ul>
        </nav>
    </footer>
    <script src="asset/js/script.js"></script>
</body>
</html>