<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="asset/style/style.css">
    <title>groupie tracer</title>
</head>
<body>
        <header>            
           
        </header>

    <main>
        <nav>     
                        
            <div class="filter-container">
              <button class="toggle-button" >Afficher/Masquer Filtres</button>
                  <div class="filter-menu" id="filterMenu">
                      <form action="/filter">
                        <fieldset>
                            <legend>Filter by members</legend>
                            <div class="filter-option">
                                <input type="radio" name="check" value="1">
                                <label for="check">1</label>
                            </div>

                            <div class="filter-option">
                                <input type="radio" name="check" value="2">
                                <label for="check">2</label>
                            </div>

                            <div class="filter-option">
                                <input type="radio" name="check" value="3">
                                <label for="check">3</label>
                            </div>

                            <div class="filter-option">
                                <input type="radio" name="check" value="4">
                                <label for="check">4</label>
                            </div>

                            <div class="filter-option">
                                <input type="radio" name="check" value="5">
                                <label for="check">5</label>
                            </div>

                            <div class="filter-option">
                                <input type="radio" name="check" value="6">
                                <label for="check">6</label>
                            </div>

                            <div class="filter-option">
                                <input type="radio" name="check" value="7">
                                <label for="check">7</label>
                            </div>

                        </fieldset>  

                        <fieldset>
                            <legend>Filter by Creation Date</legend>
                            <div class="filter-option">
                                <input type="range" name="filterPlage" min="1956" max="2020" value="1958" oninput="updateFilterPlageValue(this.value)">
                                <label for="filterPlage"><span id="filterPlageValue">1956</span></label>
                            </div>
                        </fieldset>
                         
                        <fieldset>                           
                            <legend>Filter by location</legend>
                            <div class="searchContainer">
                                <input type="text" name="location" placeholder="location" id="searchInputLoc">
                                <ul id="suggestionsLoc" class="suggList1"></ul> <!-- liste des suggestion -->
                            </div>
                        </fieldset>

                        <fieldset>
                            <legend>Filter by Creation Date </legend>
                            <p> select the specific year</p>
                            <div class="searchContainer">
                                <input type="number" name="creaDate" min="1900" max="2100" placeholder="CreationDate" id="searchCreaDate">
                                <ul id="suggestionsCreaDate" class="suggList2"></ul> <!-- liste des suggestion -->
                            </div>
                        </fieldset>
                        
                        <fieldset>
                            <legend>Filter by First Album</legend>
                            <div class="searchContainer">
                                <input type="text" name="FirstAlbum" min="1900" max="2100" placeholder="firstAlbum" id="searchFirstAlbum">
                                <ul id="suggestionsFirstAlbum" class="suggList3"></ul> <!-- liste des suggestion -->
                            </div>
                        </fieldset>

                          <input type="submit" value="filter">
                      </form>   

                     
              </div>
          </div>       
        </nav>

        <section class="sectionTop" id="searchbar">
            <div class="container">
                <div class="title"> GROUPIE TRACKER</div>
            </div>
            <div class="searchInterface">
                <div class="searchContainerBis">
                    <form action="/search" method="GET">
                        <input type="text" name="search" placeholder="search artist" id="searchInput" value="">
                        <ul id="suggestions" class="suggList4"></ul> <!-- liste des suggestion -->
                        <div class="search"></div>
                    </form>
                </div>

                
                </div>
            </div>
        </section>

        <section class="sectionBot">
            {{range .}}
            <div class="card">
                <article class="article">
                    <img src="{{.Image}}" alt="{{.Name}}">
                    <h2>{{.Name}}</h2>
                    <p> Members: {{range .Members}}{{.}}, {{end}}</p>
                    <p>Creation Date: {{.CreationDate}}</p>
                    <p>First Album: {{.FirstAlbum}}</p>
                </article>
            </div>
                {{end}}
        </section>

    </main>
    <script src="asset/js/script.js"></script>
</body>
</html>